body {
    font-family: 'Arial', sans-serif;
    background-color: pink;
    text-align: center;
    padding: 20px;
}

#yesButton, #noButton {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

#yesButton:hover, #noButton:hover {
    background-color: lightpink;
}

#loveParagraph {
    margin-top: 20px;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}
